html  
	head
		style
			include style.css
	body
		h1(id='begin') SIMULATION avec #{nb} itérations
		.
			Gain MAX : #{max}
		br
		.
			Gain MOYEN : #{average} 
		br
		. 
			Gain MIN : #{min} 
		br
		.
			Temps passé sur cette simulation : #{elapsed} milliseconds		
		table
			thead
				td #
				td Gains Finaux
				td Nb de Paris
				//td Lien
			each iter in result
				tr
					td #{iter.iterNb}
					td #{iter.gains_finaux}
					td #{iter.final_betNumber}
					//td 
					//	a(href='#iter' + iter.iterNb) Détail itération #{iter.iterNb}
		br

		//
			each iter in result
				- var nb = iter.iterNb
				- var games = iter.games
				- var elapsed = iter.elapsed
				- var init_bankroll = iter.init_bankroll
				- var final_bankroll = iter.final_bankroll
				- var final_betNumber = iter.final_betNumber
				- var frais = iter.frais
				- var gains_finaux = iter.gains_finaux
				- var logs = iter.logs
					include simulateonemember.pug
				

		a(href='https://icons8.com') Icon pack by Icons8



