html  
	head
		style
			include style.css
	body
		h1(id='begin') SIMULATION avec #{nb} itérations
		span
			a(href='../bettingsites' target='_blank') Liste des sites
		br
		br
		.
			Gain MAX : #{max}
		br
		.
			Gain MOYEN : #{average} 
		br
		. 
			Gain MIN : #{min} 
		br
		. 
			Nb de simulations en-dessous de 0 :  #{nb_below_0} (#{percent_below_0} %) 
		br
		. 
			Nb de simulations en-dessous de 100 :  #{nb_below_100} (#{percent_below_100} %) 
		br
		. 
			Nb de simulations en-dessous de 200 :  #{nb_below_200} (#{percent_below_200} %) 
		br
		. 
			Nb de simulations en-dessous de 300 :  #{nb_below_300} (#{percent_below_300} %) 
		br
		. 
			Nb de simulations en-dessous de 350 :  #{nb_below_350} (#{percent_below_350} %) 		
		br
		.
			Temps passé sur cette simulation : #{elapsed} milliseconds		
		table
			thead
				td #
				td Gains Finaux
				td Nb de Paris
				td Lien
			each iter in result
				tr
					td #{iter.iterNb}
					if iter.gains_finaux > 0
						td(style={color: 'green'}) #{iter.gains_finaux}
					else
						td(style={color: 'red'}) #{iter.gains_finaux}					
					td #{iter.final_betNumber}
					td 
						a(href='/logs/' + iter.iterNb target='_blank') Détail itération #{iter.iterNb}
		br
		// below not necessary anymore since we use the detail page
			each iter in result
				- var iterNb = iter.iterNb
				- var games = iter.games
				- var elapsed = iter.elapsed
				- var init_bankroll = iter.init_bankroll
				- var final_bankroll = iter.final_bankroll
				- var final_betNumber = iter.final_betNumber
				- var frais = iter.frais
				- var gains_finaux = iter.gains_finaux
				- var logs = iter.logs
					include simulateonemember.pug
				

		a(href='https://icons8.com') Icon pack by Icons8



